<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwb84N1S8yO9ltz-rwptpiaLEAcvAmB-M</string>
	<key>GCM_SENDER_ID</key>
	<string>835835222811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.germanManagementApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>germanproduct</string>
	<key>STORAGE_BUCKET</key>
	<string>germanproduct.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835835222811:ios:a641b73788d2ec5a2291be</string>
</dict>
</plist>